<!DOCTYPE html>
<html lang="cn">
<head>
  <meta charset="UTF-8">
  <title>v-for</title>
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>
<body>
<div id="app" v-cloak>
  <ul @click="selected">
    <li v-for="(m, idx) in movies">{{idx+1}}-{{m}}</li>
  </ul>
  <hr>
  <ul>
    <li v-for="(val, key) in info">{{key}}：{{val}}</li>
  </ul>
  <ul>
    <li v-for="v in letters" :key="v">{{v}}</li>
  </ul>
  <button @click="add">add</button>
  <button @click="replace">replace</button>
  <button @click="del">del</button>
  <button @click="insert">insert</button>
  <button @click="reverse">reverse</button>
  <ul>
    <li v-for="v in letters2">{{v}}</li>
  </ul>
</div>
<script src="js/vue.js"></script>
<script>
  const vue = new Vue({
    el: "#app",
    data: {
      movies: ['吃', '喝', '赌'],
      info: {
        name: "lee",
        age: 18,
        gender: "♂"
      },
      letters:['a', 'b', 'c', 'd', 'e'],
      letters2:['a', 'b', 'c', 'd', 'e'],
    },
    methods: {
      selected(ev) {
        ev.target
      },
      add() {
        this.letters2.push('0_0', '@_@')
      },
      del() {
        this.letters2.splice(5)
      },
      replace() {
        this.letters2.splice(5, 3, 'x', 'y', 'z')
      },
      insert() {
        this.letters2.splice(5, 0, '1', '2', '3')
      },
      reverse() {
        this.letters2.reverse()
      }
    }
  })
</script>
</body>
</html>