<!DOCTYPE html>
<html lang="cn">
<head>
  <meta charset="UTF-8">
  <title>v-model</title>
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>
<body>
<div id="app" v-cloak>
	<input type="text" name="title" v-model="title">
  <br>
  <hr>
  <!-- radio -->
  <div>
    性别：({{gender}})
    <label for="gender-male">
      <input 
        id="gender-male" 
        type="radio"
        v-model="gender" 
        name="gender" 
        value="男">男
    </label>
    <label for="gender-female">
      <input 
        id="gender-female" 
        type="radio" 
        v-model="gender" 
        name="gender" 
        value="女">女
    </label>
  </div>
  <hr>
  <!-- check box -->
  <div>
    <label form="lincense">
      <input 
        id="lincense" 
        type="checkbox" 
        v-model="isAgree"
        name="lincense">
        同意协议
        <br>
        <button :disabled="!isAgree">下一步</button>
    </label>
  </div>
  <hr>
  <!-- check box 2 -->
  <div>
    爱好：{{hobbies}}<br>
    <label form="sing">
      <input id="sing" type="checkbox" 
        v-model="hobbies" value="唱" 
        name="hobbies">唱<br>
    </label>
    <label form="jump">
      <input id="jump" type="checkbox" 
        v-model="hobbies" value="跳" 
        name="hobbies">跳<br>
    </label>
    <label form="rap">
      <input id="rap" type="checkbox" 
        v-model="hobbies" value="rap" 
        name="hobbies">rap<br>
    </label>
    <label form="basketball">
      <input id="basketball" type="checkbox" 
        v-model="hobbies" value="篮球" 
        name="hobbies">篮球<br>
    </label>
  </div>
  <br>
  <div>
    <select v-model="fruit" name="dinner">
      <option value="菜">菜</option>
      <option value="饭">饭</option>
      <option value="汤">汤</option>
      <option value="肉">肉</option>
    </select>
    <select v-model="fruits" name="dinner2" multiple>
      <option value="菜">菜</option>
      <option value="饭">饭</option>
      <option value="汤">汤</option>
      <option value="肉">肉</option>
    </select>
  </div>
  <hr>
  <div>
    <label v-for="(d, idx) in allDinner">
      <input type="checkbox" :value="d" name="dinners3">{{d}}<br>
    </label>
  </div>
  <hr>

  <div>
    <label>内容：
      <input type="text" name="content" v-model.lazy="content">
    </label>
    <h3>{{content}}</h3>

    <label>数字：
      <input type="number" name="content2" v-model.lazy.number="content2">
    </label>
    <h3>{{typeof content2}}:{{content2}}</h3>
  </div>
</div>
<script src="js/vue.js"></script>
<script>
  const vue = new Vue({
    el: "#app",
    data: {
      title: "测试工具",
      gender: "男",
      isAgree: true,
      hobbies: [],
      fruit: "汤",
      fruits: [],
      allDinner: ['菜', '饭', '肉', '汤'],
      content: "",
      content2: 0
    }
  })
</script>
</body>
</html>